@use "./partials/header.scss" as *;
@use "./partials/indexPage.scss" as *;
@use "./partials/createPage.scss" as *;


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;800&family=Poppins:wght@300;400;500&family=Great+Vibes&family=Satisfy&display=swap');
@import "/node_modules/bootstrap/scss/bootstrap";

:root {
    --cl-street: rgb(49, 49, 49);
    --cl-night: rgb(36, 17, 144);
    --cl-dirty-snow: rgb(231, 231, 231);
}


.Web_page {
    min-height: 100vh !important;
    font-family: 'Raleway', sans-serif !important;
    overflow-y: hidden;


main{
    min-height: calc(100vh - 100px);
}

}


